.main
{
  font-style: Poppins; Monospace;
}

.bg
{
  background-color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.topnav
{
  padding: 10px;
  text-align: right;
}

.navlink
{
  text-decoration: none;
  color: grey;
  margin: 10px;
  padding: 8px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 7px;
  /* This timing applies on the way OUT */
  transition-timing-function: ease-in-out;
  /* Quick on the way out */
  transition: 0.3s;
}

.navlink:hover
{
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 15px;
}

.active
{
  color: #47fc53;
  box-shadow: rgba(71, 252, 83, 0.9) 1px 1px 7px;
}

.active:hover
{
  box-shadow: rgba(71, 252, 83, 0.9) 1px 1px 15px;
}
